.elements {
  width: calc(100% - 400px);
  margin: 0 auto 46px;
  display: grid;
  justify-self: center;
  grid-template-columns: repeat(auto-fill, minmax(282px, 1fr));
  gap: 20px 17px;
}

@media screen and (max-width: 1023px) {
  .elements {
    width: calc(100% - 150px);
  }
}

@media screen and (max-width: 767px) {
  .elements {
    width: calc(100% - 38px);
    margin: 0 auto 48px;
  }
}
