.element__like-button {
  width: 22px;
  height: 19px;
  background-image: url(../../../images/like-button.svg);
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  align-self: center;
  transition: opacity 0.5s;
  background-color: #fff;
  border: none;
  padding: 0;
}

.element__like-button:hover {
  opacity: .5;
}
